<?php

return [

    // yii
    "YII_ENV" => "dev",
    "YII_DEBUG" => true,
    "YII_KEY" => "RANDOM_STRING_HERE", // cookie validation key

    // force debug module using this $_GET param (for prod environment)
    // leave empty to disable
    "DEBUG_PASSWORD" => "",

    // api
    "API_URL" => "/v1/",

    // database
    "DB_DSN" => "mysql:host=localhost;dbname=basic",
    "DB_USER" => "",
    "DB_PASS" => "",
    "DB_PREFIX" => "",

    // mail
    "MAIL_FILE_TRANSPORT" => true,
    "MAIL_ENCRYPTION" => "tls",
    "MAIL_HOST" => "smtp.mandrillapp.com",
    "MAIL_PORT" => "587",
    "MAIL_USER" => "",
    "MAIL_PASS" => "",

    // recaptcha
    // leave empty to disable
    "RECAPTCHA_SITEKEY" => "",
    "RECAPTCHA_SECRET" => "",
];