
<div class="account ng-cloak" ng-controller="AccountCtrl as vm">

    <div ng-if="vm.User">

        <h1>Account</h1>

        <div class="success" ng-if="vm.message || vm.errors === false">
            <div class="alert alert-success">
                <p>{{ vm.message || 'Account saved' }}</p>
            </div>
        </div>

        <form id="account-form" class="form-horizontal" role="form" ng-submit="vm.submit()">

            <div class="form-group" ng-class="{'has-error': vm.errors.currentPassword}" ngif="vm.hasPassword">
                <label class="col-lg-2 control-label" for="accountform-currentPassword">Current Password</label>
                <div class="col-lg-3">
                    <input type="password" id="accountform-currentPassword" class="form-control" ng-model="vm.User.currentPassword">
                </div>
                <div class="col-log-7">
                    <p class="help-block help-block-error">{{ vm.errors.currentPassword[0] }}</p>
                </div>

            </div>
            <hr ngif="vm.hasPassword">
            <div class="form-group" ng-class="{'has-error': vm.errors.email}">
                <label class="col-lg-2 control-label" for="accountform-email">Email</label>
                <div class="col-lg-3">
                    <input type="text" id="accountform-email" class="form-control" ng-model="vm.User.email">
                </div>
                <div class="col-log-7">
                    <p class="help-block help-block-error">{{ vm.errors.email[0] }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p class="small" ng-if="vm.UserToken && vm.UserToken.data">Pending email confirmation: [ {{ vm.UserToken.data }} ]</p>
                    <p class="small" ng-if="vm.UserToken && vm.UserToken.data">
                        <a ng-click="vm.resend()">Resend</a> / <a ng-click="vm.cancel()">Cancel</a>
                    </p>
                    <p class="small" ng-if="!vm.UserToken">Changing your email requires email confirmation</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.errors.username}">
                <label class="col-lg-2 control-label" for="accountform-username">Username</label>
                <div class="col-lg-3">
                    <input type="text" id="accountform-username" class="form-control" ng-model="vm.User.username">
                </div>
                <div class="col-log-7">
                    <p class="help-block help-block-error">{{ vm.errors.username[0] }}</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.errors.newPassword}">
                <label class="col-lg-2 control-label" for="accountform-newPassword">New Password</label>
                <div class="col-lg-3">
                    <input type="text" id="accountform-newPassword" class="form-control" placeholder="(may be left empty)" ng-model="vm.User.newPassword">
                </div>
                <div class="col-log-7">
                    <p class="help-block help-block-error">{{ vm.errors.username[0] }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-11">
                    <button type="submit" class="btn btn-primary" ng-disabled="vm.submitting">Save</button>
                </div>
            </div>

        </form>

    </div>

</div>
