
<div class="site-login-email ng-cloak" ng-controller="LoginEmailCtrl as vm">
    <h1>Login</h1>

    <div class="alert alert-success" ng-if="vm.errors === false">
        <p ng-if="vm.user">Login link sent - Please check your email</p>
        <p ng-if="!vm.user">Registration link sent - Please check your email</p>
    </div>

    <div ng-if="vm.errors !== false">

        <p>This will send a link to the email address to log in or register</p>

        <p>These links expire in 15 minutes</p>

        <form id="login-email-form" class="form-horizontal" role="form" ng-submit="vm.submit()">

            <div class="form-group" ng-class="{'has-error': vm.errors.email}">
                <label class="col-lg-1 control-label" for="loginemailform-email">Email</label>
                <div class="col-lg-3">
                    <input type="text" id="loginemailform-email" class="form-control" ng-model="vm.LoginEmailForm.email">
                </div>
                <div class="col-lg-8">
                    <p class="help-block help-block-error">{{ vm.errors.email[0] }}</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.errors.rememberMe}">
                <div class="col-lg-offset-1 col-lg-3">
                    <input type="checkbox" id="loginemailform-rememberme" ng-model="vm.LoginEmailForm.rememberMe">
                    <label for="loginemailform-rememberme">Remember Me</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-11">
                    <button type="submit" class="btn btn-primary" ng-disabled="vm.submitting">Login</button>
                </div>
            </div>

        </form>

    </div>

</div>