
<div class="site-register ng-cloak" ng-controller="RegisterCtrl as vm">
    <h1>Register</h1>

    <div class="success" ng-if="vm.status === 1">
        <div class="alert alert-success">
            <p>User [ {{ vm.User.email }} ] registered</p>
            <p>Please check your email for an activation link</p>
        </div>
    </div>
    <div class="success" ng-if="vm.status === 2">
        <div class="alert alert-success">
            <p>User [ {{ vm.User.email }} ] registered</p>
            <p>Please login <a href="/login">here</a></p>
        </div>
    </div>

    <div ng-if="vm.status === 0">
        <p>Please fill out the following fields to register:</p>

        <form id="register-form" class="form-horizontal" role="form" ng-submit="vm.submit()">

            <div class="form-group" ng-class="{'has-error': vm.errors.email}">
                <label class="col-lg-1 control-label" for="user-email">Email</label>
                <div class="col-lg-3">
                    <input type="text" id="user-email" class="form-control" ng-model="vm.User.email">
                </div>
                <div class="col-lg-8">
                    <p class="help-block help-block-error">{{ vm.errors.email[0] }}</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.errors.newPassword}">
                <label class="col-lg-1 control-label" for="user-newpassword">Password</label>
                <div class="col-lg-3">
                    <input type="password" id="user-newpassword" class="form-control" ng-model="vm.User.newPassword">
                </div>
                <div class="col-lg-8">
                    <p class="help-block help-block-error">{{ vm.errors.newPassword[0] }}</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.errors.captcha}" ng-if="vm.sitekey">
                <label class="col-lg-1 control-label">Captcha</label>
                <div class="col-lg-3">
                    <div id="register-captcha"></div>
                </div>
                <p class="help-block help-block-error">{{ vm.errors.captcha[0] }}</p>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-11">
                    <button type="submit" class="btn btn-primary" ng-disabled="vm.submitting">Register</button>
                </div>
            </div>

        </form>
    </div>
</div>